<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>error_page</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>error_page</servlet-name>
		<url-pattern>/error-handling</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/error-handling</location>
	</error-page>
</web-app>