<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <!-- for addition -->
  <servlet>
  	<servlet-name>add_program</servlet-name>
  	<servlet-class>com.webjava.AddServlet</servlet-class>
  	
  	<!-- servlet config for only the add servlet -->
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Samray</param-value>
  	</init-param>
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>add_program</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <!-- for square number -->
  <servlet>
  	<servlet-name>square_program</servlet-name>
  	<servlet-class>com.webjava.SqServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>square_program</servlet-name>
  	<url-pattern>/square</url-pattern>
  </servlet-mapping>
  
  <!-- init the name and phone in the context params -->
  <!-- All of this context paramters will be shared across all the servlets -->
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Osama</param-value>
  </context-param>
  
  <context-param>
  	<param-name>phone</param-name>
  	<param-value>MI A1</param-value>
  </context-param>
  
</web-app>